@import './_color.scss';
@import './loader.scss';
@import './control.scss';
@import './weather.scss';
@import './barchart.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: $background-color;
}
.is-hidden {
    visibility: hidden !important;
}
.temp-segment-chart {
    margin-bottom: 2em;
}
.error-message {
    text-align: center;
    h1 {
        color: $primary;
    }
    p {
        color: $secondary;
        font-size: 1.5rem;
    }
}
.main-container {
    width: 100%;
}