.weather-display {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em;
    .weather-card {
        font-weight: 500;
        font-size: 0.9rem;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin: 5px;
        padding: 25px;
        background: $white;
        width: calc(100% - 10rem);
        color: $primary;
        cursor: pointer;
        box-shadow: 1px 2px 2px -1px $primary;
        &:hover {
            background: $secondary;
            color: $white;
        }
        & > * {
            margin: 0.5em 0;
        }
        
    }
}
@media (max-width: 480px) {
    .weather-display {
        .weather-card {
            width: 60% !important;
        }
    }
}