.weather-display {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em;
    .weather-card {
        font-weight: 500;
        font-size: 0.9rem;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin: 5px;
        padding: 25px;
        background: $secondary;
        color: $white;
        width: calc(100% - 10rem);
        cursor: pointer;
        box-shadow: 1px 2px 2px -1px $primary;
        &:hover {
            background: $white;
            color: $primary;
        }
        & > * {
            margin: 0.5em 0;
        }
        .temp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 2em !important;
            }
        }
    }
}
@media (max-width: 480px) {
    .weather-display {
        .weather-card {
            width: 60% !important;
        }
    }
}